[run]
branch = True
include = form_service/*
omit =
    *./venv*
    *.pyenv*
    *migrations/*
    *setup.py*
    *__init__.py*
    *tests/*


[report]
show_missing = True
precision = 2

[paths]
source = /home/olyapubuntu/Desktop/project/form-service-repo/form_service
